{% extends "base-consumption.html" %}

<!-- Add the title for the specific page -->
{% block title %}Energy Consumption{% endblock title %}

<!-- Import any extra .css files for the specific page -->
{% block html_css %}{% endblock html_css %}

<!-- Import any extra .js files for the specific page -->
{% block js_scripts %}{% endblock js_scripts %}

<!-- Set the breadcrumb levels for the specific page -->
{% set breadcrumb_level_one = 'Energy' %}
{% set breadcrumb_level_two = 'Energy Consumption' %}

{% block content %}
<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        {% include 'breadcrumb.html' %}
    </div>
    <div class="container page__container">
        <div class="page-section">
            {% include 'energy-consumption-asset.html' %}
        </div>
    </div>
</div>

{% endblock content %}