<div class="row mb-32pt">
    <div class="col-lg-4">
        <div class="page-separator">
            <div class="page-separator__text">Energy Consumption</div>
        </div>
        <p class="card-subtitle text-70 mb-16pt mb-lg-0">Your hourly <code>ENERGY CONSUMPTION</code> during the last 7
            days.</p>

    </div>
    <div class="col-lg-8 d-flex align-items-center">
        <div class="flex" style="max-width: 100%">
            <div class="card p-relative o-hidden mb-0">
                <ul class="nav nav-tabs-primary">
                    <li class="nav-item">
                        <a class="nav-link" data-target="renewable-source" style="pointer-events: none">HVAC
                            Characteristics</a>
                    </li>
                </ul>
                <div class="card-body tab-content text-70">
                    <strong>Device: -</strong>
                </div>
                <div class="card-body tab-content text-70">
                    <strong>Nominal Power: -</strong>
                </div>
            </div>
        </div>
    </div>
</div>