<div class="col-lg-4">
    <div class="page-separator">
        <div class="page-separator__text">Contact Form</div>
    </div>
    <p class="card-subtitle text-70 mb-16pt mb-lg-0">Get in touch with the development team of the <code>Consumer
        Digital Twin</code> for technical issues.</p>
</div>

<div class="col-lg-8 d-flex align-items-center">
    <div class="flex" style="max-width: 100%">

        <form action="" method="post" novalidate>

<!--            <div class="form-group">-->
<!--                <label for="user_from" class="form-label">Username</label>-->
<!--                <input type="text" class="form-control" id="user_from" name="user_from" value="" readonly="">-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="email" class="form-label">E-mail</label>-->
<!--                <input type="email" class="form-control" id="email" name="email" value="" readonly="">-->
<!--            </div>-->

            <div class="form-group">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Enter a subject" name="subject" required="">
            </div>

            <div class="form-group">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" rows="5" id="message" name="message" required="" placeholder="Enter a message"></textarea>
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-outline-primary mb-5" value="Submit" name="submit_contact">
            </div>

        </form>

    </div>
</div>