{% extends "base-preferences.html" %}

<!-- Add the title for the specific page -->
{% block title %}Preferences{% endblock title %}

<!-- Import any extra .css files for the specific page -->
{% block html_css %}<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ion-rangeslider.css')}}">{% endblock html_css %}

<!-- Set the breadcrumb levels for the specific page -->
{% set breadcrumb_level_one = 'Preferences' %}
{% set breadcrumb_level_two = '' %}

{% block content %}
<div class="pt-32pt">

    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        {% include 'breadcrumb.html' %}
    </div>

    <div class="container page__container page-section">
        <form action="" method="post">
        <div class="row mb-32pt">
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Thermal Comfort</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the <code>IMPORTANCE</code> of maintaining Thermal Comfort within the appartment and the
                    <code>DESIRED RANGE</code> of Indoor Temperature.</p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">

                    <form class="form-horizontal" role="form" action="preferences_update.php" method="post"
                          id="update-preferences">

                        <div class="form-group row">
                            <label for="preference_thermal_comfort" class="col-sm-3 col-form-label">Importance
                                Scale</label>
                            <div class="col-sm-9">
                                <input type="text" id="preference_thermal_comfort" name="preference_thermal_comfort">
                            </div>
                        </div>


                        <!--                        <div class="form-group form-group-spacer row">-->
                        <!--                            <label for="preference_thermal_comfort_range" class="col-sm-3 col-form-label">Indoor-->
                        <!--                                Temperature</label>-->
                        <!--                            <div class="col-sm-9">-->
                        <!--                                <input type="text" id="preference_thermal_comfort_range"-->
                        <!--                                       name="preference_thermal_comfort_range">-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                </div>
            </div>
        </div>
        <div class="row mb-32pt">
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Well-Being</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the <code>IMPORTANCE</code> of maintaining Well-being conditions within the appartment.</p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">
                    <div class="form-group row">
                        <label for="preference_well_being" class="col-sm-3 col-form-label">Importance Scale</label>
                        <div class="col-sm-9">
                            <input type="text" id="preference_well_being" name="preference_well_being">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-32pt">
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Electric Water Heater</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the <code>IMPORTANCE</code> of having access to <code>HEAT WATER</code> and the
                    <code>DESIRED</code> range of Water's Temperature.</p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">

                    <div class="form-group row">
                        <label for="preference_water_heater" class="col-sm-3 col-form-label">Importance Scale</label>
                        <div class="col-sm-9">
                            <input type="text" id="preference_water_heater" name="preference_water_heater">
                        </div>
                    </div>

                    <!--                    <div class="form-group form-group-spacer row">-->
                    <!--                        <label for="preference_water_heater_range" class="col-sm-3 col-form-label">Water-->
                    <!--                            Temperature</label>-->
                    <!--                        <div class="col-sm-9">-->
                    <!--                            <input type="text" id="preference_water_heater_range" name="preference_water_heater_range">-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                </div>
            </div>
        </div>

        <div class="row mb-32pt">
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Electric Freezer</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the <code>IMPORTANCE</code> of Electric Freezer in your daily routine and the
                    <code>DESIRED</code> range of Freezer's Temperature.</p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">

                    <div class="form-group row">
                        <label for="preference_freezer" class="col-sm-3 col-form-label">Importance Scale</label>
                        <div class="col-sm-9">
                            <input type="text" id="preference_freezer" name="preference_freezer">
                        </div>
                    </div>

                    <!--                    <div class="form-group form-group-spacer row">-->
                    <!--                        <label for="preference_freezer_range" class="col-sm-3 col-form-label">Freezer-->
                    <!--                            Temperature</label>-->
                    <!--                        <div class="col-sm-9">-->
                    <!--                            <input type="text" id="preference_freezer_range" name="preference_freezer_range">-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                </div>
            </div>
        </div>

        <div class="row mb-32pt">
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Energy Flexibility</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the <code>IMPORTANCE</code> of being flexible within the energy market.</p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">

                    <div class="form-group row">
                        <label for="preference_energy_flexibility" class="col-sm-3 col-form-label">Importance
                            Scale</label>
                        <div class="col-sm-9">
                            <input type="text" id="preference_energy_flexibility" name="preference_energy_flexibility">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-32pt">
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Eco-Friendliness</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the <code>IMPORTANCE</code> of reducing the ecological footprint results from the energy
                    consumption.</p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">

                    <div class="form-group row">
                        <label for="preference_eco_friendly" class="col-sm-3 col-form-label">Importance Scale</label>
                        <div class="col-sm-9">
                            <input type="text" id="preference_eco_friendly" name="preference_eco_friendly">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-32pt">
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Financial Costs</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the <code>IMPORTANCE</code> of reducing the energy costs and the <code>maximum</code>
                    affordable monthly energy spendings.</p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">

                    <div class="form-group row">
                        <label for="preference_financial_balance" class="col-sm-3 col-form-label">Importance
                            Scale</label>
                        <div class="col-sm-9">
                            <input type="text" id="preference_financial_balance" name="preference_financial_balance">
                        </div>
                    </div>

                    <!--                    <div class="form-group form-group-spacer row">-->
                    <!--                        <label for="preference_financial_range" class="col-sm-3 col-form-label">Affordable-->
                    <!--                            Spendings</label>-->
                    <!--                        <div class="col-sm-9">-->
                    <!--                            <input type="text" id="preference_financial_range" name="preference_financial_range">-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                </div>

            </div>
        </div>

        <div class="row mb-32pt">
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">

                    <div class="button-list">
                        <input type="submit" value="Submit" class="btn btn-outline-primary" id="submit-preferences">
                    </div>

                </div>
            </div>
        </div>

    </form>

    </div>
</div>

<script>
$(document).ready(function() {
    $("#preference_thermal_comfort").ionRangeSlider({
      grid: !0,
      min: 1,
      step: 1,
      max: 5,
      from: {{ preferences_importance[0] - 1 }},
      values: ["Not Important", "Slightly Important", "Important", "Fairly Important", "Very Important"],
    }),
    $("#preference_well_being").ionRangeSlider({
      grid: !0,
      min: 1,
      step: 1,
      max: 5,
      from: {{ preferences_importance[1] - 1 }},
      values: ["Not Important", "Slightly Important", "Important", "Fairly Important", "Very Important"],
    }),
    $("#preference_energy_flexibility").ionRangeSlider({
      grid: !0,
      min: 1,
      step: 1,
      max: 5,
      from: {{ preferences_importance[2] - 1 }},
      values: ["Not Important", "Slightly Important", "Important", "Fairly Important", "Very Important"],
    }),
    $("#preference_eco_friendly").ionRangeSlider({
      grid: !0,
      min: 1,
      step: 1,
      max: 5,
      from: {{ preferences_importance[3] - 1 }},
      values: ["Not Important", "Slightly Important", "Important", "Fairly Important", "Very Important"],
    }),
    $("#preference_water_heater").ionRangeSlider({
      grid: !0,
      min: 1,
      step: 1,
      max: 5,
      from: {{ preferences_importance[4] - 1 }},
      values: ["Not Important", "Slightly Important", "Important", "Fairly Important", "Very Important"],
    }),
    $("#preference_freezer").ionRangeSlider({
      grid: !0,
      min: 1,
      step: 1,
      max: 5,
      from: {{ preferences_importance[5] - 1 }},
      values: ["Not Important", "Slightly Important", "Important", "Fairly Important", "Very Important"],
    }),
    $("#preference_financial_balance").ionRangeSlider({
      grid: !0,
      min: 1,
      step: 1,
      max: 5,
      from: {{ preferences_importance[6] - 1 }},
      values: ["Not Important", "Slightly Important", "Important", "Fairly Important", "Very Important"],
    })
  });

</script>

{% endblock content %}